@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* .header-fixed{
  width:1,119px;
  height:44px;
  gap: 50px;
} */

/* Underline animation for scale from center */
.underline-animation {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.underline-animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color:  #08BED5;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}

.underline-animation:hover::after,
.underline-animation:focus::after {
  opacity: 1;
  transform: scale(1);
}

.background-mobie {
  background: linear-gradient(180deg, rgba(58, 123, 213, 0.42) 0%, rgba(0, 210, 255, 0.42) 102.31%);
}

.header-nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 0 .75rem
}

/* new update 19/09/2024 */
.ant-btn {
  border-width: 0;
  padding: .625rem 1.5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  height: auto;
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: none;
  background: linear-gradient(90deg, #00d2ff, #3a7bd5);
  position: relative;
}

.home-banner-description, .home-banner-title {
  color: #fefefe;
  margin-bottom: 1rem;
  text-shadow: -4px 4px .5px rgba(58, 123, 213, .4);
}

.home-banner-content {
  color: #fefefe;
  margin-bottom: 2.5rem;
  text-shadow: -1px 1px .5px rgba(58, 123, 213, .4);
  max-width: 579px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: .15px;
}
/* end */