@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* .header-fixed{
  width:1,119px;
  height:44px;
  gap: 50px;
} */

/* Underline animation for scale from center */
.underline-animation {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.underline-animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color:  #08BED5;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}

.underline-animation:hover::after,
.underline-animation:focus::after {
  opacity: 1;
  transform: scale(1);
}

.background-mobie {
  background: linear-gradient(180deg, rgba(58, 123, 213, 0.42) 0%, rgba(0, 210, 255, 0.42) 102.31%);
}

.header-nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 0 .75rem
}

/* new update 19/09/2024 */
.ant-btn {
  border-width: 0;
  padding: .625rem 1.5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  height: auto;
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: none;
  background: linear-gradient(90deg, #00d2ff, #3a7bd5);
  position: relative;
}




[data-aos^="zoom"] {
  opacity: 0; /* Bắt đầu với độ mờ */
  transform: scale(0.9); /* Bắt đầu với kích thước nhỏ hơn */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Thêm chuyển tiếp */
}

[data-aos^="zoom"].aos-animate {
  opacity: 1; /* Độ mờ 100% khi animation xảy ra */
  transform: scale(1); /* Kích thước bình thường khi animation xảy ra */
}

/* end */

.home-service-item__box {
  background-color: #fefefe;
  box-shadow: 0 8px 16px rgba(58, 123, 213, .4);
  border-radius: 1.5rem;
  width: 261px;
  height: 499px;
  gap: .5rem;
}

.home-service-item__image {
  height: 80px;
  width: 80px;
  position: relative;
}

/* styles/glassCard.css */
.glass-card {
  width: 333px;
  height: 53px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 12px 24px 12px 24px;
  gap: 8px;
}
.color-glass-card {
  width: 355px;
  height: 200px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  border-style:dashed;
}
.Orders-glass-card {
  width: 355px;
  height: 146px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}
.Sopha-glass-card {
  width: 230px;
  height: 168px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.Text-glass-card-dashed {
  width: 259px;
  height: 327px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  border-style:dashed;
}
.TextCon-glass-card-dashed {
  width: 156px;
  height: 84px;
  border: 1px white;
  border-style:dashed;
  border-left: none;
}
.Vuong-glass-card {
  width: 101px;
  height: 101px;
  top: 6px;
  left: 6px;
  border: 2px solid white;
}
.buttonBody{
  width: 87px;
  height: 30px;
  border-radius: 32px;
}
.phone-glass-card {
  width: 207px;
  height: 428px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.hover-glass-card {
  padding: 24px;
  width: 356px;
  height: 250px;
  background: rgb(255, 255, 255,0.24);
  border: 2px solid rgba(255, 255, 255, 0.24);
  border-radius: 20px;
  gap: 16px;
  backdrop-filter: blur(10px);
}
/* styles/globals.css */
/* font-bricolage */
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/BricolageGrotesque_36pt_Condensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.background-custom{
  background: linear-gradient(90deg, #3a7bd5,#00d2ff);
}

.text-preamble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 11px;
  opacity: .24;
  width: 100%;
  display: block;
  background-color: #08bed5;
  -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  z-index: -1;
}
